body{
    background-color: #F7F8FC;
}

.stat-card:hover {
    
    border-color: #007BFF;
    color: #007BFF;
}

/* sidebar*/
.sidebar{
background: #363740;
color: #DDE2FF;
}

.nav-link{
    color: #DDE2FF;
}
.nav-pills .nav-link.active{
    background-color: #a0a3bd33;
    color: #fff;
}  

